@charset "utf-8";

body {
  background: #47C5FF;
  font: 11px Arial;
}

#main {
  padding: 55px 0 0 20px;
  width: 830px;
}

#leftSideBar {
  float: left;
  padding: 5px 0 0 0;
  text-transform: uppercase;
  width: 322px;
}

#leftSideBar a {
  background: url(../images/theTwoWordsProject.gif) 0 0 no-repeat;
  display: block;
  height: 145px;
  text-indent: -9999px;
}

#leftSideBar p {
  color: #FFFDFE;
  padding: 18px 0 31px 19px;
}

#siteInfo p {
  color: #010002;
  padding: 0 96px 0 19px;
}

article {
  float: left;
  margin: 0 0 150px 0;
  padding: 13px 0 0 0;
  width: 362px;
}

article h2 {
  color: #CC0033;
  padding: 8px 0 11px 0;
  text-transform: uppercase;
}

#artistInfo {
  background: #FFFFFF;
  margin: 20px 0 0 0;
  padding: 19px 20px 47px 8px;
}

div.artistInfo {
  color: #CA0032;
  padding: 0 0 18px 0;
  text-transform: uppercase;
}

div.artistBio {
  padding: 0 0 16px 0;
}

ul.artistLinks {
  list-style-type: none;
  padding: 0;
}

ul.artistLinks a {
  color: #CF0033;
  text-decoration: none;
}

nav {
  float: right;
}

nav a {
  display: block;
  text-indent: -9999px;
  width: 10px;
}

nav li {
  background: #FFFFFF;
}

nav li.active {
  background: none;
}

nav li a.tile {
  background: url(../images/tile.gif) 5px 0 no-repeat;
  height: 22px;
  padding: 0 5px 12px 1px;
}

nav li a.about {
  background: url(../images/about.gif) 5px 13px no-repeat;
  height: 37px;
  padding: 0 5px 17px 5px;
}

nav li a.participate {
  background: url(../images/participate.gif) 5px 13px no-repeat;
  height: 68px;
  padding: 0 5px 16px 5px;
}

nav li a.archieves {
  background: url(../images/archieves.gif) 5px 13px no-repeat;
  height: 60px;
  padding: 0 5px 18px 5px;
}

nav li a.contact {
  background: url(../images/contact.gif) 5px 13px no-repeat;
  height: 49px;
  padding: 0 5px 30px 5px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;	
}