@charset "utf-8";

body {
  background: #47C5FF;
  font: 11px Arial;
}

#main {
  margin: 0 0 200px 0;
  padding: 55px 0 0 20px;
}

#leftSideBar {
  float: left;
  padding: 5px 0 0 0;
  text-transform: uppercase;
  width: 322px;
}

#leftSideBar a {
  background: url(../images/theTwoWordsProject.gif) 0 0 no-repeat;
  display: block;
  height: 145px;
  text-indent: -9999px;
}

#leftSideBar p {
  color: #FFFDFE;
  padding: 18px 0 31px 19px;
}

#siteInfo p {
  color: #010002;
  padding: 0 96px 0 19px;
}

article {
  float: left;
  padding: 13px 0 0 0;
  width: 362px;
}

article h2 {
  color: #CC0033;
  padding: 8px 0 11px 0;
  text-transform: uppercase;
}

#artistInfo {
  background: #FFFFFF;
  margin: 20px 0 0 0;
  padding: 19px 20px 47px 8px;
}

div.artistInfo {
  color: #CA0032;
  padding: 0 0 18px 0;
  text-transform: uppercase;
}

div.artistBio {
  padding: 0 0 16px 0;
}

ul.artistLinks {
  list-style-type: none;
  padding: 0;
}

ul.artistLinks a {
  color: #CF0033;
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;	
}