@charset="utf-8";

body {
  background: url(../images/bg.gif) 0 29px repeat-x;
  background-color: #F4F1EC;
  color: #37322E;
  font: 11px Arial;
  margin: 0 auto 0 auto;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

ol {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 0 0 31px;
  width: 980px;
}

header {
  height: 186px;
}

#logo {
  background: url(../images/logo.gif) 0 0 no-repeat;
  display: block;
  float: left;
  height: 101px;
  margin: 71px 0 0 0;
  text-indent: -9999px;
  width: 186px;
}

header nav {
  line-height: 29px;
  position: relative;
}

header nav li {
  display: inline;
}

header nav a {
  color: #27ADE2;
}

#siteMenu {
  float: left;
  margin: 0 0 0 -60px;
}

#siteMenu li {
  padding: 0 21px 0 0;
}

#siteMenu li a.active {
  color: #37342F;
}

#login {
  float: right;
  position: absolute;
  right: -540px;
}

#login li.first {
  border-right: 2px ridge #A6A5A0;
  margin: 0 4px 0 0;  
  padding: 0 4px 0 0;
}

#search {
  float: right;
  padding: 34px 0 0 0;
}

div.text {
  background: #F4F1EC;
  float: right;
  height: 18px;
  margin: 0 10px 0 0;
  width: 258px;
}

div.text input {
  background: #F4F1EC;
  border: none;
  margin: 0 0 0 9px;
  font-size: 10px;
  width: 240px;
}

div.submit {
  float: right;
}

div.submit input {
  background: url(../images/searchTab.gif) 0 0 no-repeat;
  border: none;
  height: 18px;
  text-indent: -9999px;
  width: 32px;
}

#pageTitle {
  border-bottom: 5px solid #37322E;
  margin: 0 0 21px 0;
  padding: 0 0 0 255px;
}

#pageTitle span {
  color: #29AAE3;
  padding: 0 9px 0 0;
}

#main a {
  color: #F04927;
}

#main h2 {
  background: #37322E;
  color: #F5F2ED;
  font-size: 11px;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0 9px 0 9px;
}

#main h2 span {
  float: right;
  font-weight: normal;
}

#main h2 span a {
  color: #29AAE1;
  padding: 0 3px 0 3px;
}

#main .backgroundChange {
  background: #E3D8D2;
}

#leftSideBar {
  float: left;
  padding: 0 10px 0 0;
  width: 235px;
}

#venues {
  height: 164px;
  margin: 0 0 21px 0;
}

#venues ol {
  margin: 10px 0 19px 26px;
}

#plans li {
  padding: 12px 0 10px 10px;
}

#plans li.backgroundChange {
  background: #E2D9D4; 	
}

#content {
  border-left: 1px solid #857D7A;
  border-right: 1px solid #857D7A;
  float: left;
  padding: 5px 10px 122px 9px;
  width: 469px;	
}

#info {
  height: 164px;
  margin: 0 0 21px 0;
}

div.memberPic {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;	
}

div.memberProfile {
  float: left;	
  margin: -12px 0 0 0;
}

div.memberContacts {
  float: right;	
  margin: -12px 0 0 0;
}

div.memberContacts li {
  display: inline;	
}

#memberBio {
  padding: 50px 0 0 0;
}

#memberBio p.bioTitle {
  font-weight: bold;
  margin: 3px 0 -4px 0;
}

#gallery {
  background: #E2D9D4;
  margin: 0 0 20px 0;
}

#gallery ul {
  height: 295px;
  margin: 0;
  padding: 10px;
  width: 450px;
}

#gallery li {
  display: block;
  float: left;
  height: 109px;
  margin: 10px 3px 0 4px;
  text-align: center;
  width: 104px;
}

#buddies {
  background: #E2D9D4;
  height: 204px;
  margin: 0 0 20px 0;
}

#buddies div.backgroundChange {
  padding: 10px 0 40px 10px;
  width: 450px;
}

#buddies figure {
  float: left;
  padding: 0 10px 0 0;
  text-align: center;
  width: 82px;
}

#buddies figure.last {
  padding: 0;
}

#notes {
  margin: 0 0 140px 0;
}

#notes a.add {
  border-left: 2px ridge #DBD8D3;
}

#notes p {
  margin: 0;
}

#notes div.buddyPhoto {
  float: left;
  height: 48px;
  padding: 10px 4px 0 10px;
  width: 48px;
}

#notes div.buddyInfo {
  padding: 10px 0 33px 4px;
}

#notes div.backgroundChange {
  background: #E2D9D4;
}

#notes div.buddyNoteA {
  padding: 0 0 20px 10px;
}

#notes div.buddyNoteB {
  padding: 0 0 25px 10px;
}

#notes div.buddyNoteC {
  padding: 0 0 18px 10px;
}

#rightSideBar {
  float: right;
  padding: 0 0 0 0;
  width: 235px;
}

#rightSideBar ul.attributes {
  list-style-type: none;
  padding: 10px 0 0 10px;  	
}

#rightSideBar span {
  font-weight: bold;
  padding: 0 6px 0 0;
}

footer {
  border-top: 5px solid #37322E;
  float: left;
  line-height: 26px;
  margin: 18px 0 100px 0;
  width: 962px;
}

footer nav ul {
  float: left;
  margin: 0 0 0 254px;
}

small {
  float: right;
}

footer li{
  display: inline;
  padding: 0 16px 0 0;
}

footer li a {
  color: #F04823;
}


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;	
}